#lefttab {
    margin: 10px 6px 10px 75px;
}
#header {
    margin: 10px 75px 10px 75px;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    font-size: 30px;
}
#headerhead {
    text-align: center;
    color: green;
}
#teampic {
    align: auto;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    width: 533px;
    margin-left: 75px;
    margin-top: 15px;
    height: 400px;
    display: inline-block;
}
#teamdirect {
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-right: 75px;
    width: 290px;
    height: 420px;
    margin-top: 15px;
}
#teamdescribe {
    margin: 20px 75px 10px 75px;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    background-color: white;
}
#directoryhead {
    margin: 20px 75px 20px 75px;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    text-align: center;
}
.tabcontainer {
    position: absolute, fixed;
    width: 800px;
    margin-left: 75px;
}
.tab {
    color: black;
    border-width: 5px;
    border: solid;
    border-color: #00aa0e;
    background-color: white;
    display: inline-block;
    width: 199px;
    margin: 5px 6px 5px 0px;
    position: static;
    z-index: 2;
}
.label {
    font-size: 20px;
    text-align: center;
}
.teamdirtab {
    text-align: center;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    background-color: white;
    margin-bottom: 7px;
}
.teamdirtext {
    color: green;
}
.teampara {
    margin-left: 20px;
    margin-right: 20px;
}
.profile {
    height: 300px;
    margin: 20px 75px 0px 75px;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    background-color: white;
}
.profilepic {
    height: 200px;
    width: 200px;
    margin: 47px 10px 47px 47px;
    border: solid;
    border-width: 4px;
    display: inline-block;
}
.profiledescribe {
    height: 200px;
    width: 500px;
    margin: 47px 47px 47px 10px;
    display: inline-block;
    float: right;
}
a {
    text-decoration: none;
}
body {
    background-color: #303030;
}
.tab:hover {
    background-color: #303030;
}
.teamdirtab:hover {
    background-color: #303030;
}
