#lefttab {
    margin: 10px 6px 10px 75px;
}
#header {
    margin: 10px 75px 10px 75px;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    font-size: 30px;
}
#headerhead {
    text-align: center;
    color: green;
}
#currentproject {
    text-align: center;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    margin: 10px 75px 10px 75px;
}
#placeholder {
    text-align: center;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    margin: 20px 75px 20px 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.tabcontainer {
    position: absolute, fixed;
    width: 800px;
    margin-left: 75px;
}
.tab {
    color: black;
    border-width: 5px;
    border: solid;
    border-color: #00aa0e;
    background-color: white;
    display: inline-block;
    width: 199px;
    margin: 5px 6px 5px 0px;
    position: static;
    z-index: 2;
}
.label {
    font-size: 20px;
    text-align: center;
}
a {
    text-decoration: none;
}
body {
    background-color: #303030;
}
.tab:hover {
    background-color: #303030;
}
