#lefttab {
    margin: 10px 6px 10px 75px;
}
#hardware {
    margin-left: 75px;
    text-align: center;
    float: left;
}
#software {
    text-align: center;
    float: none;
}
#organization {
    text-align: center;
    float: right;
    margin-right: 75px;
}
#header {
    height: 300px;
    margin: 10px 75px 10px 75px;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
}
#teamhead {
    font-size: 60px;
    text-align: center;
    color: green;
}
#headerbody {
    font-size: 15px;
    text-align: center;
    margin: 0px 10px 0px 10px;
}
#captain {
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    margin-left: 75px;
    margin-right: 75px;
}
#captainp {
    text-align: center;
}
.column {
    margin: 10px 23px 10px 0px;
    height: 500px;
    width: 260px;
    background-color: white;
    display: inline-block;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
}
.tabcontainer {
    position: absolute, fixed;
    width: 800px;
    margin-left: 75px;
}
.tab {
    color: black;
    border-width: 4px;
    border: solid;
    border-color: #00aa0e;
    background-color: white;
    display: inline-block;
    width: 199px;
    margin: 5px 6px 5px 0px;
    position: static;
    z-index: 2;
}
.label {
    font-size: 20px;
    text-align: center;
}
.deptimg {
    height: 150px;
    width: 200px;
    border: solid;
    border-width: 4px;
    border-color: #00aa0e;
    align-self: center;
    margin-left: 26px;
    overflow: hidden;
}
a {
    text-decoration: none;
}
body {
    background-color: #303030;
}
.tab:hover {
    background-color: #303030;
}
