#header {
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, green, lime); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, green, lime); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, green, lime); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, green, lime); /* Standard syntax */
    height: 150px;
}
#headercont {
    margin-left: 0;
    height: 150px;
    width: 600px;
    overflow: hidden;
}
#tabcontainer {
    margin-left: 0;
    height: 50px;
    background-color: white;
    overflow: hidden;
}
#lefttab {
    margin-left: -53px;
}
.headertext {
    margin: 0px 0px 0px 40px;
    color: white;
}
.tab {
    display: inline-block;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}
.label {
    font-size: 17px;
    text-align: center;
}
.borderA {
    height: 15px;
    background: green;
    background: -webkit-linear-gradient(left top, green, lime);
    background: -o-linear-gradient(bottom right, green, lime);
    background: -moz-linear-gradient(bottom right, green, lime);
    background: linear-gradient(bottom right, green, lime);
}
.sectionA {
    height: 600px;
    width: 1351px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}
.sectionB {
    height: 600px;
    width: 1351px;
    overflow: hidden;
    text-align: center;
    background: white;
    margin: auto;
}
.sectionextend {
    height: 600px;
    background: white;
}
.sectionHeaderA {
    font-size: 60px;
    color: white;
}
.sectionHeaderB {
    font-size: 60px;
    color: black;
}
.sectionTextA {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sectionTextB {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #303030;
    margin: 0;
}
